<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
<div class="container" [ngClass]="{ dark: isDarkMode, light: !isDarkMode }">
  <div class="phone">
    <div id="top-menu">
      <div class="button">
        <i class="fas fa-arrow-left"></i>
      </div>
      <button id="mode" class="button" (click)="toggleDarkMode()">
        <i class="bi bi-brightness-high-fill" id="toggleDark"></i>
      </button>
      <div class="button">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="content-container">
      <div class="overlay" (click)="tumbnailClicked()"></div>

      <div class="thumbnail-border">
        <div class="song-thumbnail"></div>
      </div>
  
      <div id="song-details">
        <h1 class="song-title">SUMMER</h1>
        <span class="artist">Band ft. Song Artist</span>
      </div>
    </div>

    <div id="time-slider">
      <div class="slider-times">
        <span>1:21</span>
        <span>3:46</span>
      </div>
      <input
        type="range"
        min="1"
        max="100"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>

    <div id="song-controls">
      <div class="button">
        <i class="fas fa-backward"></i>
      </div>
      <div class="button">
        <i class="fas fa-pause"></i>
      </div>
      <div class="button">
        <i class="fas fa-forward"></i>
      </div>
    </div>
  </div>
</div>
